:root {
  /* Spacing */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 48px;
  --space-xl: 96px;
  --space-xxl: 128px;

  /* Border radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;

  /* Colors */
  --color-black: #261e38;
  --color-white: #f8f8fa;
  --color-light: #f7e4dd;
  --color-accent: #eec2c1;
  --color-accent-dark: #792f3c;
  --color-dark: #4f1b1f;

  /* Typography */

  --fs-small: 14px;
  --fs-nav: 16px;
  --fs-body: 18px;

  --fs-h3: 24px;
  --fs-h2: 40px;
  --fs-h1: 64px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  font-family: "Outfit", sans-serif;
  color: var(--color-white);
}

header {
  position: fixed;
  top: var(--space-md);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navigation {
  display: flex;
  width: fit-content;

  list-style: none;
  /* gap: var(--space-lg); */

  align-items: center;

  /* padding: var(--space-sm) var(--space-md); */

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: var(--radius-md);

  transition: 0.3s;
}

.navigation a {
  font-size: var(--fs-nav);
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: var(--color-white);
  transition: 0.3s;
  user-select: none;

  display: inline-block;
  padding: var(--space-sm) var(--space-md);
}

.navigation a:hover {
  text-shadow: 0 0 10px var(--color-light);
}

.navigation:hover {
  box-shadow: 0 0 10px var(--color-light);
}

main {
  margin-top: var(--space-xxl);
  margin-left: 20%;
  margin-right: 20%;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
}

.profile-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: var(--radius-lg);
  user-select: none;
  transition: 0.3s;
}

.profile-img:hover {
  box-shadow: 0 0 15px var(--color-light);
}

.profile-name {
  font-family: "New Rocker", sans-serif;
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

.profile-job {
  display: inline-block;
  margin-top: var(--space-md);
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
}

.status {
  margin-top: var(--space-sm);
  display: flex;
  gap: var(--space-lg);
  align-items: center;
}
.place {
  font-size: var(--fs-h3);
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.work {
  font-size: var(--fs-h3);
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.buttons {
  justify-content: space-between;
  display: flex;
  margin-top: var(--space-lg);
}

.button-hireme {
  display: flex;
  width: fit-content;
  list-style: none;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: var(--radius-md);

  transition: 0.3s;
}

.button-hireme a {
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: var(--color-white);
  user-select: none;
  padding: var(--space-xs) var(--space-md);
  transition: 0.3s;
}

.button-hireme a:hover {
  text-shadow: 0 0 10px var(--color-light);
}

.button-hireme:hover {
  box-shadow: 0 0 10px var(--color-light);
}

.cv-button {
  display: flex;
  width: fit-content;
  list-style: none;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: var(--radius-md);

  transition: 0.3s;
}

.cv-button a {
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: var(--color-white);
  user-select: none;
  padding: var(--space-xs) var(--space-md);
  transition: 0.3s;
}

.cv-button a:hover {
  text-shadow: 0 0 10px var(--color-light);
}

.cv-button:hover {
  box-shadow: 0 0 10px var(--color-light);
}

.contact-cards {
  margin-top: var(--space-sm);
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border-radius: var(--radius-md);
  padding: var(--space-sm) var(--space-md);
  width: 100%;
}

.card-name {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.card p {
  text-align: right;
  margin-top: var(--space-md);
}

.contact-cards svg {
  width: 50px;
  height: 50px;
}

.mail {
  fill: #ea4335;
  filter: drop-shadow(0 0 5px #ea4335);
}

.github {
  fill: #181717;
  filter: drop-shadow(0 0 5px #181717);
}

.telegram {
  fill: #26a5e4;
  filter: drop-shadow(0 0 5px #26a5e4);
}

.footer {
  padding: var(--space-md);
  text-align: center;
  font-size: var(--fs-small);
  color: var(--color-white);
  user-select: none;
}
